body{
    display: flex;
    flex-direction: column;
}

.navy-content{
background-color: #1F2937;
}

.header{
display: flex;
align-items:baseline;
margin: 0px 180px;
}

.link-three{
    padding-right: 0px;
}

h1{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;    
    }

a{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navy-center-content{
    display: flex;
    margin: 0px 180px;
    align-items: center;
    height: 400px;
    gap: 100px;
}

.navy-title{
    font-size: 48px;
    color: #F9FAF8;
    
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 10px 0px;
}

.navy-para{
    font-size: 18px;
    color: #E5E7EB;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0px;
}

.button-one{
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    width: 70px;
    height: 20px;
    margin: 10px 0px;
}

.placeholder{
    display: flex;
    flex-basis: 1000px;
    height: 245px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

/* above is the navy content and body */

.first-white-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info{
    font-size: 36px;
    color: #1F2937;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.center-images-and-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container,
.subtext{
    display: flex;
    gap: 40px;
}

.img{
    display: flex;
    border: solid #3882F6 3px;
    height: 150px;
    width: 150px;
    border-radius: 15px;



}

.sub{
    height: 150px;
    width: 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}